.dashboard {
  min-height: 300px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 20px;
  width: 100vh;
}

.schedule {
  max-width: 800px;
  min-width: 200px;
  height: 100vh;
  padding: 1.5rem;
  margin-left: 50px;
  border-radius: 20px;
  justify-content: center;
  border: transparent;
  background-color: transparent;
}

.exercise {
  margin-top: 20px;
  background-color: blanchedalmond;
  border: 2px solid black;
  width: 50%;
  align-items: center;
  padding: 10px;
}

.home {
  border: 2px solid black;
  height: 50vh;
  width: 90vh;
  padding-left: 30px;
  justify-content: center;
  border-radius: 20px;
}

.dashboard_title {
  font-weight: 500 !important;
  font-size: 2rem !important;
  color: white;
}
