.navbar {
  background-color: #000000; /* Background color for the Navbar */
  color: white; /* Text color */
  padding: 10px 0; /* Padding at the top and bottom */
}

.header {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.content {
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.content:hover {
  text-decoration: underline;
}
