.card {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.projectsBoard {
  background-color: rgb(40, 40, 40);
  min-height: 300px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 20px;
  width: 70%;
  color: white;
  text-align: center;
}

.contentTitle {
  font-size: 2rem;
  color: white;
}

.container {
  box-shadow: 0 8px 16px rgba(255, 247, 0, 0.3);
  border-radius: 20px;
  padding: 10px;
  margin: 5%;
  transition: transform 0.2s;
  height: 90%;
  width: 90%;
}

.container:hover {
  background-color: #082f58; /* Background color on hover */
  color: white; /* Text color on hover */
  transform: translateY(-3px); /* Slightly lift the Container on hover */
  box-shadow: 0 8px 16px #155fae;
}

.titleLink {
  color: rgb(97, 181, 255);
}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(242, 255, 0, 0.5);
}

.content {
  align-items: center;
  display: flex;
  padding: 10px;
}
